$widgets-bg: #57f287;
$widgets-fg: #000;
$widgets-fg-light: #FFF;
$widgets-track: #4e4e4e;

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monospace;
}

//Global Styles
.bar {
    color: $widgets-fg;
    margin-right: 20px;
    margin-left: 20px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
    all: unset;
    background-color: $widgets-track;
    color: #000;
}

.metric scale trough highlight {
    all: unset;
    background-color: $widgets-bg;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: $widgets-fg-light;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.metric scale trough highlight {
    all: unset;
    background-color: $widgets-fg;
    border-radius: 10px;
}


.label-ram {
    font-size: large;
}

.workspaces button:hover {
    color: $widgets-bg;
    background-color: $widgets-fg;
}

.workspaces button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
}

.workspaces {
    background-color: $widgets-bg;
    border-radius: 10px;
}



.volume,
.disk_usage,
.memory,
.time,
.battery_normal {
    background-color: $widgets-bg;
    border-radius: 10px;
    color: $widgets-fg;
    padding: 0px 10px;
}

.battery_low {
    border-radius: 10px;
    color: #FFF;
    padding: 0px 10px;
    background-color: #ff0022;
}

.battery_charging {
    border-radius: 10px;
    color: $widgets-fg;
    padding: 0px 10px;
    background-color: rgb(255, 187, 0);
}

.battery_low>.metric scale trough highlight {
    background-color: $widgets-fg;
    color: $widgets-fg;
}

.battery_charging>.metric scale trough highlight {
    background-color: $widgets-fg;
    color: $widgets-fg;
}