* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monospace;
}

//Global Styles
.bar {
    color: #b0b4bc;
    margin-right: 20px;
    margin-left: 20px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
    all: unset;
    background-color: #bffcd2;
    color: #000;
}

.metric scale trough highlight {
    all: unset;
    background-color: #57f287;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.metric scale trough highlight {
    all: unset;
    background-color: #000;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #bffcd2;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.label-ram {
    font-size: large;
}

.workspaces button:hover {
    color: #57f287;
    background-color: #000;
}
.workspaces button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
}
.workspaces {
    background-color: #57f287;
    border-radius: 10px;
    color: #000;
}



.volume, .disk_usage, .memory, .time {
    background-color: #57f287;
    border-radius: 10px;
    color: #000;
    padding: 0px 5px;
}
