* {
    all: unset;
    font-family: "InterVariable";
}
.time {
    color: #89b4fa;
}
.hours {
    font-size: 130px;
}
.minutes {
    font-size: 130px;
    margin-left: 100px;
}
.weekday {
    font-size: 130px;
    color: #f38ba8;
}
.date {
    color: #585b70;
}
