$widgets-bg: #{{base00}};
$widgets-fg: #{{base0D}};
$widgets-track: #{{base01}};
$low-battery-color: #{{base00}};
$charging-battery-color: #{{base00}};

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monospace;
}

//Global Styles
.bar {
    color: $widgets-fg;
    margin-right: 20px;
    margin-left: 20px;
}

// Styles on classes (see eww.yuck for more information)

.metric scale trough highlight {
    all: unset;
    background-color: $widgets-bg;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: $widgets-track;
    border-radius: 50px;
    min-height: 5px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.metric scale trough highlight {
    all: unset;
    background-color: $widgets-fg;
    border-radius: 10px;
}


.label-ram {
    font-size: large;
}

.workspaces button:hover {
    color: $widgets-bg;
    background-color: $widgets-fg;
}

.workspaces button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
}

.workspaces > .current {
    color: $widgets-bg;
    background-color: $widgets-fg;
}
.workspaces {
    background-color: $widgets-bg;
    border-radius: 10px;
}



.volume,
.disk_usage,
.memory,
.time,
.battery_normal,
.wifi,
.music {
    background-color: $widgets-bg;
    border-radius: 10px;
    color: $widgets-fg;
    padding: 0px 10px;
    
}

.battery_low {
    border-radius: 10px;
    color: $widgets-fg;
    padding: 0px 10px;
    background-color: $low-battery-color;
}

.battery_charging > .metric scale trough highlight{
    background-color: $charging-battery-color;
}

.battery_charging {
    border-radius: 10px;
    padding: 0px 10px;
    background-color: $widgets-bg;
    color: $charging-battery-color;
}



// Shutdown window related stuff
.shutdown-box {
    background-color: $widgets-bg;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: lighten($widgets-bg, 10%);
    border-width: 1px;
}
.shutdown-icons-tray {
    font-size: 30px;
}
.shutdown-button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    &:hover {
        color: $widgets-fg;
    }
}
.shutdown-button.tray-reboot-button {
    padding-left: 5px;
    color: $widgets-fg;
    &:hover {
        background-color: $widgets-fg;
        color: $widgets-bg;
    }
}
.tray-shutdown-button {
    padding-left: 8px;
    color: $widgets-fg;
    &:hover {
        color: $widgets-bg;
        background-color: $widgets-fg;
    }
}
.tray-suspend-button {
    padding-left: 0px;
    color: $widgets-fg;
    &:hover {
        color: $widgets-bg;
        background-color: $widgets-fg;
    }
}
.tray-logout-button {
    color: $widgets-fg;
    &:hover {
        color: $widgets-bg;
        background-color: $widgets-fg;
    }
}
