$widgets-bg: #{{base00}};
$widgets-fg: #{{base0D}};
$widgets-track: #{{base01}};
$low-battery-color: #{{base00}};
$charging-battery-color: #{{base08}};

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monospace;
}

//Global Styles
.bar {
    color: $widgets-fg;
    background-color: rgba($widgets-bg, {{desktopOpacity}});
    border-radius: 0px 0px 10px 10px;
    font-size: 10px;
}
.submap {
    background-color: $widgets-fg;
    color: $widgets-bg;
    padding: 0px 4px;
}

// Styles on classes (see eww.yuck for more information)

.metric scale trough highlight {
    all: unset;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: $widgets-track;
    border-radius: 50px;
    min-height: 2px;
    min-width: 40px;
    margin: 0px 4px;
}

.metric scale trough highlight {
    all: unset;
    background-color: $widgets-fg;
    border-radius: 10px;
}



.workspaces button:hover {
    color: $widgets-bg;
    background-color: $widgets-fg;
}

.workspaces button {
    padding: 0px 2px;
    margin: 5px;
    border-radius: 10px;
}

.workspaces > .current {
    color: $widgets-bg;
    background-color: $widgets-fg;
}
.workspaces {
    margin-left: 6px;
}


.volume,
.disk_usage,
.memory,
.time,
.battery_normal,
.wifi,
.music {
}
.time {
    margin-right: 10px;
}
.battery_low {
    border-radius: 10px;
    color: $widgets-fg;
    background-color: $low-battery-color;
}

.battery_charging > .metric scale trough highlight{
    background-color: $charging-battery-color;
}

.battery_charging {
    border-radius: 10px;
    color: $charging-battery-color;
}



// Shutdown window related stuff
.shutdown-box {
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: lighten($widgets-bg, 10%);
    border-width: 1px;
    background-color: rgba($widgets-bg, {{desktopOpacity}});
}

.shutdown-button {
    min-width: 30px;
    min-height: 30px;
    color: $widgets-fg;
    border-radius: 10px;
    &:hover {
        color: $widgets-bg;
        background-color: $widgets-fg;
    }
}
