$widgets-bg: #{{base00}};
$widgets-fg: #{{base05}};
$widgets-track: #{{base01}};
$low-battery-color: #{{base08}};
$charging-battery-color: #{{base0B}};

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: {{ font }};
}

//Global Styles
.bar {
    color: $widgets-fg;
    font-size: 10px;
}
.submap {
    background-color: $widgets-fg;
    color: $widgets-bg;
    padding: 0px 4px;
}

// Styles on classes (see eww.yuck for more information)

.metric scale trough highlight {
    all: unset;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: $widgets-track;
    border-radius: 50px;
    min-height: 2px;
    min-width: 40px;
    margin: 0px 4px;
}

.metric scale trough highlight {
    all: unset;
    background-color: $widgets-fg;
    border-radius: 10px;
}



button:hover {
    color: $widgets-bg;
    background-color: $widgets-fg;
}

button {
    padding: 0px 2px;
    margin: 5px;
    border-radius: 10px;
}

.workspaces > .current {
    color: $widgets-bg;
    background-color: $widgets-fg;
}
.workspaces {
    background-color: rgba($widgets-bg, {{desktopOpacity}});
    border-radius: 10px;
    border: 1px solid #{{ base0D }};
    color: #{{ base0D }};
    padding: 0px 5px;
}

.time {
    background-color: rgba($widgets-bg, {{desktopOpacity}});
    border-radius: 10px;
    border: 1px solid #{{ base0B }};
    color: #{{ base0B }};
    padding: 0px 8px;
}

.indicators {
    background-color: rgba($widgets-bg, {{desktopOpacity}});
    border-radius: 10px;
    border: 1px solid #{{ base08 }};
    color: #{{ base08 }};
}

.battery_low {
    border-radius: 10px;
    color: $widgets-fg;
    background-color: $low-battery-color;
}

.battery_charging > .metric scale trough highlight{
    background-color: $charging-battery-color;
}

.battery_charging {
    border-radius: 10px;
    color: $charging-battery-color;
}



// Shutdown window related stuff
.shutdown-box {
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: lighten($widgets-bg, 10%);
    border-width: 1px;
    background-color: rgba($widgets-bg, {{desktopOpacity}});
    color: $widgets-fg;
}

.shutdown-button {
    min-width: 30px;
    min-height: 30px;
    color: $widgets-fg;
    border-radius: 10px;
    &:hover {
        color: $widgets-bg;
        background-color: $widgets-fg;
    }
}
.music {
    background-color: rgba($widgets-bg, {{desktopOpacity}});
    border-radius: 10px;
    border: 1px solid #{{ base0E }};
    color: #{{ base0E }};
    padding: 0px 1em;
}
.workspaces > button:hover, .workspaces > button.current  {
    background-color: #{{base0D}};
}
.indicators > button:hover {
    background-color: #{{base08}};
}
.music > button:hover {
    background-color: #{{base0E}};
}
